.login-content {
  height: 100vh;
  position: relative;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-box {
  width: 500px;
  box-shadow: rgba(31, 45, 61, 0.08) 0px 0px 1.25rem;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(50% - 250px);
}

.login-form .ant-form-item-label {
  line-height: 27px;
}

.login-form .ant-form-item label {
  font-weight: 500;
  font-size: 12px;
  color: #2D2E2E;
}

.login-form .ant-form-item-control input {
  font-size: 12px;
}

.login-form .has-error .ant-form-explain, .login-form .has-error .ant-form-split {
  margin-top: 2px;
  font-size: 12px;
}